project/data/X_test.csv
project/data/X_train.csv
project/data/X_val.csv
project/data/y_test.csv
project/data/y_train.csv
project/data/y_val.csv
/project/best_model_attention.keras
/project/best_model_residual.keras
/project/attention_tuning/iris_attention/trial_00/build_config.json
/project/residual_tuning/iris_residual/trial_00/build_config.json
/project/residual_tuning/iris_residual/trial_01/build_config.json
/project/residual_tuning/iris_residual/trial_02/build_config.json
/project/residual_tuning/iris_residual/trial_03/build_config.json
/project/residual_tuning/iris_residual/trial_04/build_config.json
/project/residual_tuning/iris_residual/trial_05/build_config.json
/project/residual_tuning/iris_residual/trial_06/build_config.json
/project/residual_tuning/iris_residual/trial_07/build_config.json
/project/residual_tuning/iris_residual/trial_08/build_config.json
/project/residual_tuning/iris_residual/trial_09/build_config.json
/project/attention_tuning/iris_attention/trial_00/checkpoint.weights.h5
/project/residual_tuning/iris_residual/trial_00/checkpoint.weights.h5
/project/residual_tuning/iris_residual/trial_01/checkpoint.weights.h5
/project/residual_tuning/iris_residual/trial_02/checkpoint.weights.h5
/project/residual_tuning/iris_residual/trial_03/checkpoint.weights.h5
/project/residual_tuning/iris_residual/trial_04/checkpoint.weights.h5
/project/residual_tuning/iris_residual/trial_05/checkpoint.weights.h5
/project/residual_tuning/iris_residual/trial_06/checkpoint.weights.h5
/project/residual_tuning/iris_residual/trial_07/checkpoint.weights.h5
/project/residual_tuning/iris_residual/trial_08/checkpoint.weights.h5
/project/residual_tuning/iris_residual/trial_09/checkpoint.weights.h5
/project/attention_tuning/iris_attention/oracle.json
/project/residual_tuning/iris_residual/oracle.json
/project/attention_tuning/iris_attention/trial_00/trial.json
/project/attention_tuning/iris_attention/trial_01/trial.json
/project/residual_tuning/iris_residual/trial_00/trial.json
/project/residual_tuning/iris_residual/trial_01/trial.json
/project/residual_tuning/iris_residual/trial_02/trial.json
/project/residual_tuning/iris_residual/trial_03/trial.json
/project/residual_tuning/iris_residual/trial_04/trial.json
/project/residual_tuning/iris_residual/trial_05/trial.json
/project/residual_tuning/iris_residual/trial_06/trial.json
/project/residual_tuning/iris_residual/trial_07/trial.json
/project/residual_tuning/iris_residual/trial_08/trial.json
/project/residual_tuning/iris_residual/trial_09/trial.json
/project/attention_tuning/iris_attention/tuner0.json
/project/residual_tuning/iris_residual/tuner0.json
/project/data/X_test.npy
/project/data/X_train.npy
/project/data/X_val.npy
/project/data/y_test.npy
/project/data/y_train.npy
/project/data/y_val.npy
/project/models/best_model_attention.keras
/project/models/best_model_residual.keras
/project/attention_tuning/iris_attention/trial_01/build_config.json
/project/attention_tuning/iris_attention/trial_02/build_config.json
/project/attention_tuning/iris_attention/trial_03/build_config.json
/project/attention_tuning/iris_attention/trial_04/build_config.json
/project/attention_tuning/iris_attention/trial_05/build_config.json
/project/attention_tuning/iris_attention/trial_06/build_config.json
/project/attention_tuning/iris_attention/trial_07/build_config.json
/project/attention_tuning/iris_attention/trial_08/build_config.json
/project/attention_tuning/iris_attention/trial_09/build_config.json
/project/attention_tuning/iris_attention/trial_01/checkpoint.weights.h5
/project/attention_tuning/iris_attention/trial_02/checkpoint.weights.h5
/project/attention_tuning/iris_attention/trial_03/checkpoint.weights.h5
/project/attention_tuning/iris_attention/trial_04/checkpoint.weights.h5
/project/attention_tuning/iris_attention/trial_05/checkpoint.weights.h5
/project/attention_tuning/iris_attention/trial_06/checkpoint.weights.h5
/project/attention_tuning/iris_attention/trial_07/checkpoint.weights.h5
/project/attention_tuning/iris_attention/trial_08/checkpoint.weights.h5
/project/attention_tuning/iris_attention/trial_09/checkpoint.weights.h5
/project/models/final_attention_model.keras
/project/models/final_residual_model.keras
/project/attention_tuning/iris_attention/trial_02/trial.json
/project/attention_tuning/iris_attention/trial_03/trial.json
/project/attention_tuning/iris_attention/trial_04/trial.json
/project/attention_tuning/iris_attention/trial_05/trial.json
/project/attention_tuning/iris_attention/trial_06/trial.json
/project/attention_tuning/iris_attention/trial_07/trial.json
/project/attention_tuning/iris_attention/trial_08/trial.json
/project/attention_tuning/iris_attention/trial_09/trial.json
